h1{
  color: rgba(252, 222, 190, 0.784); 
  text-align: center;
}
h2{
    color: rgb(240, 214, 170);
    text-align: center;
}
body{
    background-color: rgb(10, 76, 10);
}
ul{
    color: rgb(249, 224, 190);
   text-align: center;
}
button{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}
body{
   text-align: center;
}